.wrapper {
  padding-top: 3rem;
}

.wrapperCompact {
  padding-top: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.gif {
  width: 48px;
  height: 48px;
}

.label {
  font-size: 1rem;
  color: #64748b;
}
